$green: #1db954;
$black: #424242;
$white: #ffffff;

$primary: #ffffff;
$primary_font: #424242;
$secondary: #1db954;
$secondary_font: #ffffff;
$background: #f9f9f9;

$primary_shadow: 1px 1px 5px 5px rgba(234, 234, 234, 0.4);
