$green: #1DB954;
$black: #424242;
$white: #FFFFFF;

$primary: #FFFFFF;
$primary_font: #424242;
$secondary: #1DB954;
$secondary_font: #ffffff;
$background: #F9F9F9;

$primary_shadow: 1px 1px 5px 5px rgba(234, 234, 234, 0.4);