@use "@styles/_variables.scss" as variables;

.button {
  background: variables.$green;
  width: 110px;
  height: 45px;
  border: none;
  box-shadow: 1px 1px 5px 5px rgba(234, 234, 234, 0.4);
  border-radius: 10px;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  text-align: center;
}
