@use "@styles/_variables.scss" as variables;

.button {
  background: variables.$secondary;
  width: 110px;
  height: 45px;
  border: none;
  box-shadow: variables.$primary_shadow;
  border-radius: 10px;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  text-align: center;
}

.radiobutton {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;

  label{
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    box-shadow: variables.$primary_shadow;
    margin: auto 5px;
  }

  .on_button{
    background-color: variables.$secondary;
  }

  .off_button{
    background-color: variables.$white;
  }

  input[type=radio] {
    display: none;
  }
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
