@use "@styles/_variables.scss" as variables;

.card{
  width: 150px;
  height: 196.84px;
  flex-shrink: 0;

  border-radius: 15px;
  background: #FFF;
  box-shadow: 1px 1px 3px 3px rgba(234, 234, 234, 0.40);
  padding-top: 18px;

  img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border-radius: 10px;
    width: 122.677px;
    height: auto;
    flex-shrink: 0;
    margin: 0 auto;
  }

  p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: variables.$primary_font;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
    padding: 0 13px;
  }
}